{% extends 'core/base.html' %}

{% block title %}{{ room.number }} - Edit Room{% endblock %}

{% block content %}
<h2 class="mb-4">{{ room.number|default:"New Room" }} - {% if room %}Edit{% else %}Create{% endif %} Room</h2>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
