html {
    scroll-behavior: smooth;
}

.hero-section {
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-body p {
    font-size: 0.9rem;
    color: #555;
}

.badge {
    font-size: 0.85rem;
    padding: 0.4em 0.6em;
}